body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.titulo {
    text-align: center;
    margin: 30px 0;
    padding: 20px;
    background-color: #282c34;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.titulo h1, p {
    color: white;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: #282c34;
    padding: 15px 0;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.menu a:hover {
    background-color: rgba(114, 111, 111, 0.2);
    transform: scale(1.05);
}

#main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.display-radio {
    width: 300px;
    background-color: #464646;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.display-radio h2 {
    margin-bottom: 15px;
    color: white;
}

button.station {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 60px;
    position: relative;
    font-weight: bold;
}

button.station::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 1;
}

button.station:hover {
    transform: scale(1.05);
}

/* Estilos para el reproductor */
#player {
    width: 500px;
    height: 400px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    margin-right: 200px;
    z-index: 1;  
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: 0;
    border-radius: 10px;
}

#cover {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}

#player h2, h3 {
    color: white;
    margin: 0;
    z-index: 1;
}

.control-btn {
    background-color: transparent;
    color: white;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.2s ease-in-out;
    position: relative;
    z-index: 2; 
}

#seekbar {
    position: relative;
    z-index: 1;  
    width: 100%;  
    height: 8px;  
    background: #ddd; 
    appearance: none;
    -webkit-appearance: none; 
    border-radius: 5px;  
}

#seekbar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4caf50;  
}

#seekbar::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4caf50;  /* Color verde para el control deslizante */
}

/* Estilo para el Ecualizador */
#equalizer {
    text-align: center;
    margin-top: 20px;
}

#equalizer h2 {
    font-size: 1.5rem;
    color: #fff;
}

#equalizer-bars {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Alinea las barras al fondo */
    gap: 10px; /* Separación entre las barras */
    margin-bottom: 20px;
}

.equalizer-bar {
    width: 15px; /* Ancho de cada barra */
    height: 0; /* Las barras comienzan con altura 0 */
    background-color: #00ff00; /* Color verde para las barras */
    transition: height 0.1s ease-out; /* Transición suave para la animación */
    border-radius: 2px;
}

/* Estilo para los controles de volumen */
#volume-control {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 1rem;
}

#volume-control input[type="range"] {
    width: 200px; 
}

#volume-control button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

#volume-control button:hover {
    color: #ffeb3b;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

/* Medias queries para hacerlo responsive */
@media (max-width: 1200px) {
    #main {
        flex-direction: column;
        align-items: center;
    }

    #player {
        width: 90%;
        height: auto;  
        margin-top: 20px;
        margin-right: 0;  
    }

    #cover {
        height: 200px;  
    }

    .display-radio {
        width: 90%; 
    }

    .control-btn {
        font-size: 1.2em;
        padding: 8px;
    }

    #seekbar {
        width: 100%;
        margin-top: 8px;
    }
}

@media (max-width: 480px) {
    #title {
        font-size: 1.4em;
    }

    #artist {
        font-size: 1em;
    }

    .control-btn {
        font-size: 1.2em;
        padding: 8px;
        width: 40px;
        height: 40px;
    }

    #cover {
        height: 180px;  
    }

    #player {
        width: 100%;
        height: auto;  
    }

    .display-radio {
        width: 100%;
        padding: 10px;
    }
}
